syntax: glob

.idea/
nbproject/
.run
.dld
.pcs
.tmp
.tst
~*

*.gz
*.zip
*.rar

tst/d/hst/
tst/ut-cov
tst/basic-cocomo-*
lcov.info
lib-cov
coverage

desktop.ini

logs
*.log

pids
*.pid
*.seed

.grunt
.lock-wscript

build/Release
node_modules
